[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
pyyaml = "*"
gunicorn = "*"
pytest = "*"
opencv-python = "*"